#layout-horizontal-navigation {

    #toolbar-navigation-container {
        z-index: 55;

        #toolbar {
            height: $toolbarHeight;
            min-height: $toolbarHeight;
            max-height: $toolbarHeight;
            box-shadow: none;

            .top-row {

                .navigation-toggle {
                    height: $toolbarHeight;
                    border-right: 1px solid rgba(0, 0, 0, 0.12);

                    .md-button {
                        margin: 0;
                        width: $toolbarHeight;
                        height: $toolbarHeight;
                    }
                }

                .logo {
                    margin: 0 16px;

                    .logo-image {
                        display: block;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 500;
                        color: #FFFFFF;
                        border-radius: 2px;

                        img {
                            max-height: 70%;
                            margin-top: 7px;
                        }
                    }

                    .logo-text {
                        color: rgba(0, 0, 0, 0.87);
                        margin-left: 16px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

// RESPONSIVE
@media only screen and (max-width: $layout-breakpoint-sm) {

    #layout-horizontal-navigation {

        #toolbar-navigation-container {
            height: $toolbarHeight;
            min-height: $toolbarHeight;
            max-height: $toolbarHeight;

            #toolbar {
                padding: 0;
            }
        }
    }
}