<div id="listing" class="page-layout simple tabbed" layout="column">

  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-align="start center">
    <div layout="row" layout-align="start center" flex>
      <md-button class="goto-listings-button md-icon-button" aria-label="Go to listings"
                 ng-click="vm.gotoListings()">
        <md-icon md-font-icon="icon-arrow-left" style="color: #ffffff"></md-icon>
      </md-button>

      <div layout="row" layout-align="start center">
        <div class="listing-image" hide-xs>
          <img ng-src="http://localhost:3000/{{vm.listing.images[0].thumbnail}}">
        </div>

        <div layout="column" layout-align="start start">
          <div class="h2">
            {{vm.listing.title}}
          </div>
          <div class="subtitle secondary-text">
            <span>Listing Detail</span>
          </div>
        </div>

        <md-menu-bar id="status-menu">
          <md-menu md-position-mode="left bottom">
            <md-button class="status-button" ng-click="$mdMenu.open()"
                       aria-label="Status settings">
              <div layout="row" layout-align="space-between center">
                <div class="avatar-wrapper">
                  <md-icon md-font-icon ng-class="vm.listingOrdination.icon"
                           ng-style="{'color': vm.listingOrdination.color }"
                           class="icon status">
                  </md-icon>
                </div>
                <span class="status" hide show-gt-sm>{{vm.listingOrdination.title}}</span>
                <md-icon md-font-icon="icon-chevron-down"
                         class="icon s16" hide-xs></md-icon>
              </div>
            </md-button>
            <md-menu-content width="1">
              <md-menu-item class="status md-indent"
                            ng-class="{'selected': order === vm.listingOrdination}"
                            ng-repeat="order in vm.listingOrdinationOptions">
                <md-icon md-font-icon="{{order.icon}}" ng-style="{'color': order.color }"
                         class="icon"></md-icon>
                <md-button ng-click="vm.setListingOrdination(order)">
                  {{order.title}}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-menu-bar>
        
      </div>
    </div>

    <md-menu-bar id="status-menu">
      <md-menu md-position-mode="left bottom">
        <md-button class="status-button" ng-click="$mdMenu.open()"
                   aria-label="Status settings">
          <div layout="row" layout-align="space-between center">
            <div class="avatar-wrapper">
              <md-icon md-font-icon ng-class="vm.listingStatus.icon"
                       ng-style="{'color': vm.listingStatus.color }"
                       class="icon status">
              </md-icon>
            </div>
            <span class="status" hide show-gt-sm>{{vm.listing.status}}</span>
            <md-icon md-font-icon="icon-chevron-down"
                     class="icon s16" hide-xs></md-icon>
          </div>
        </md-button>
        <md-menu-content width="1">
          <md-menu-item class="status md-indent"
                        ng-class="{'selected': status === vm.listingStatus}"
                        ng-repeat="status in vm.listingStatusOptions">
            <md-icon md-font-icon="{{status.icon}}" ng-style="{'color': status.color }"
                     class="icon"></md-icon>
            <md-button ng-click="vm.setListingStatus(status)">
              {{status.title}}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>

    <div>
      <md-button class="md-raised md-background" ng-click="vm.saveListing()"
                 ng-disabled="!vm.isFormValid('listingForm')">
        <span>SAVE</span>
      </md-button>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">

    <md-tabs md-dynamic-height>

      <!-- ADDRESS -->
      <md-tab>
        <md-tab-label>
          <span>Address</span>
        </md-tab-label>

        <md-tab-body>
          <div class="listing-detail-form-container md-background-bg md-whiteframe-1dp">
            <form>

              <div layout="column" layout-gt-sm="row">
                <md-input-container flex>
                  <input vs-google-autocomplete="options"
                         ng-model="vm.listing.fulladdress"
                         vs-place="address.place"
                         vs-place-id="address.components.placeId"
                         vs-home-number="vm.listing.address.unit"
                         vs-street-number="vm.listing.address.streetNumber"
                         vs-street="vm.listing.address.streetName"
                         vs-city="vm.listing.address.suburb"
                         vs-state="vm.listing.address.state"
                         vs-post-code="vm.listing.address.postCode"
                         vs-latitude="vm.listing.address.geo[0]"
                         vs-longitude="vm.listing.address.geo[1]"
                         name="fulladdress"
                         type="text"
                         id="street"
                         required
                         aria-label="Full Address"
                  >
                </md-input-container>
              </div>

              <div layout="column" layout-gt-sm="row">
                <md-input-container flex>
                  <label>Unit Number</label>
                  <input name="unitNumber" ng-model="vm.listing.address.unit" placeholder="1234"
                         required ng-pattern="/^[0-9]{4}$/" md-maxlength="4">
                  <div ng-messages="basicForm.unitNumber.$error" role="alert" multiple>
                    <div ng-message="required"><span>You must supply a unit number.</span></div>
                    <div ng-message="pattern"><span>That doesn't look like a valid unit number.</span></div>
                    <div ng-message="md-maxlength">
                      <span>Unit number can't be longer than 4 characters.</span>
                    </div>
                  </div>
                </md-input-container>

                <md-input-container flex>
                  <label>Street Number</label>
                  <input name="streetNumber" ng-model="vm.listing.address.streetNumber" placeholder="1234567"
                         required ng-pattern="/^[0-9]{7}$/" md-maxlength="7">
                  <div ng-messages="basicForm.streetNumber.$error" role="alert" multiple>
                    <div ng-message="required"><span>You must supply a street number.</span></div>
                    <div ng-message="pattern"><span>That doesn't look like a valid street number.</span></div>
                    <div ng-message="md-maxlength">
                      <span>Street number code can't be longer than 7 characters.</span>
                    </div>
                  </div>
                </md-input-container>

                <md-input-container flex>
                  <input type="text" name="streetName" ng-model="vm.listing.address.streetName"
                         placeholder="Street Name"
                         required>
                  <div ng-messages="basicForm.streetName.$error"
                       role="alert">
                    <div ng-message="required">
                      <span>Street Name field is required.</span>
                    </div>
                  </div>
                </md-input-container>
              </div>

              <div layout="column" layout-gt-xs="row">
                <md-input-container flex>
                  <label>Suburb</label>
                  <input type="text" name="suburb" ng-model="vm.listing.address.suburb">
                </md-input-container>

                <md-input-container flex>
                  <label>State</label>
                  <input type="text" name="state" ng-model="vm.listing.address.state">
                </md-input-container>

                <md-input-container flex>
                  <label>Postal Code</label>
                  <input name="postcode" ng-model="vm.listing.address.postCode" placeholder="1234"
                         required ng-pattern="/^[0-9]{4}$/" md-maxlength="4">
                  <div ng-messages="basicForm.postcode.$error" role="alert" multiple>
                    <div ng-message="required"><span>You must supply a post code.</span></div>
                    <div ng-message="pattern"><span>That doesn't look like a valid post code.</span></div>
                    <div ng-message="md-maxlength">
                      <span>Post code can't be longer than 4 characters.</span>
                    </div>
                  </div>
                </md-input-container>
                <input name="lat" type="hidden" ng-model="vm.listing.address.geo[0]" id="lat" class="form-control" placeholder="Latitude" required>
                <input name="lon" type="hidden" ng-model="vm.listing.address.geo[1]" id="lng" class="form-control" placeholder="Longitude" required>
              </div>
            </form>
          </div>
        </md-tab-body>
      </md-tab>
      <!-- / ADDRESS -->

      <!-- AMENITIES -->
      <md-tab>
        <md-tab-label>
          <span>Amenities</span>
        </md-tab-label>

        <md-tab-body>
          <div class="listing-detail-form-container md-background-bg md-whiteframe-1dp">
            <form>
              <div layout="row" flex="100" layout-wrap>
                <md-input-container layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25" ng-repeat="amenity in vm.amenities">
                  <md-checkbox ng-checked="vm.exists(amenity, vm.listing.amenity)" ng-click="vm.toggle(amenity, vm.listing.amenity)">
                    {{ amenity.name }}
                  </md-checkbox>
                </md-input-container>
              </div>
            </form>
          </div>
        </md-tab-body>
      </md-tab>
      <!-- / AMENITIES -->

      <!-- CATEGORY -->
      <md-tab>
        <md-tab-label>
          <span>Category</span>
        </md-tab-label>

        <md-tab-body>
          <div class="listing-detail-form-container md-background-bg md-whiteframe-1dp">
            <form id="listingForm" name="listingForm">

              <div layout="column" layout-gt-sm="row">
                <md-input-container flex>
                  <label>Categories</label>
                  <md-select ng-model="vm.listing.category" >
                    <md-option ng-value="category._id"
                               ng-repeat="category in vm.categories">
                      {{category.name}}
                    </md-option>
                  </md-select>
                </md-input-container>
                <md-input-container flex>
                  <label>Parking(s)</label>
                  <md-icon md-font-icon="icon icon-car"></md-icon>
                  <input type="number" step="1" ng-model="vm.listing.parking">
                </md-input-container>
                <md-input-container flex>
                  <label>Capacity</label>
                  <md-icon md-font-icon="icon icon-chair-school"></md-icon>
                  <input type="number" step="1"  ng-model="vm.listing.capacity">
                </md-input-container>
                <md-input-container flex>
                  <label>Board Room(s)</label>
                  <md-icon md-font-icon="icon icon-account-multiple"></md-icon>
                  <input type="number" step="1"  ng-model="vm.listing.boardroom">
                </md-input-container>
              </div>

            </form>
          </div>
        </md-tab-body>
      </md-tab>
      <!-- / CATEGORY -->

      <!-- PRICING -->
      <md-tab>
        <md-tab-label>
          <span>Pricing</span>
        </md-tab-label>

        <md-tab-body>

          <div md-background-bg layout="row" layout-align="start start">

            <!-- SIDENAV -->

            <md-sidenav class="sidenav main-sidenav md-background-bg md-whiteframe-1dp" ms-scroll md-is-locked-open="$mdMedia('gt-md')"
                        layout="column" flex="100" md-component-id="pricing-method-sidenav"
                        ms-sidenav-helper>
              <!-- SIDENAV CONTENT -->
              <div ms-scroll class="content scrollable">

                <md-list>
                  <md-subheader class="md-no-sticky">Method</md-subheader>

                  <md-list class="offline-switch">
                    <md-list-item ng-click="vm.listing.price.method = 'hourly'">

                      <p>Hourly</p>
                      <md-switch class="md-primary" ng-model="vm.listing.price.method" aria-label="Toggle offline" translate
                                 ng-true-value="'hourly'"></md-switch>

                    </md-list-item>
                  </md-list>

                  <md-list class="offline-switch">
                    <md-list-item ng-click="vm.listing.price.method = 'daily'">

                      <p>Daily</p>
                      <md-switch class="md-primary" ng-model="vm.listing.price.method" aria-label="Toggle offline" translate
                                 ng-true-value="'daily'"></md-switch>

                    </md-list-item>
                  </md-list>

                  <md-list class="offline-switch">
                    <md-list-item ng-click="vm.listing.price.method = 'monthly'">

                      <p>Monthly</p>
                      <md-switch class="md-primary" ng-model="vm.listing.price.method" aria-label="Toggle offline" translate
                                 ng-true-value="'monthly'"></md-switch>

                    </md-list-item>
                  </md-list>

                  <md-divider></md-divider>

                  <md-list class="offline-switch">
                    <md-list-item>

                      <p>Show POA as a price</p>
                      <md-checkbox class="md-primary" ng-model="vm.listing.poa" aria-label="POA">
                        {{vm.listing.poa}}
                      </md-checkbox>

                    </md-list-item>
                  </md-list>

                  <md-divider></md-divider>

                  <md-list class="offline-switch">
                    <md-list-item>

                      <p>Use Spacenow Booking System</p>
                      <md-checkbox class="md-primary" ng-model="vm.listing.bookingSystem" aria-label="Booking System Spacenow"></md-checkbox>

                    </md-list-item>
                  </md-list>


                </md-list>

              </div>
              <!-- / SIDENAV CONTENT -->
            </md-sidenav>

            <!-- / SIDENAV -->
            <!-- CONTENT -->

            <div layout="column" flex>

              <div md-background-bg layout="row" layout-align="start start">

                <!-- MAIN -->
                <div class="listing-detail-form-container md-background-bg md-whiteframe-1dp" layout="column" flex>

                  <!-- HEADER -->
                  <md-subheader class="md-no-sticky md-white-bg">

                    <div layout="row" layout-align="space-between center">

                      <div class="list-title" layout="row" layout-align="start center">
                        <span ng-if="vm.listing.price.method === 'hourly'">Hourly</span>
                        <span ng-if="vm.listing.price.method === 'daily'">Daily</span>
                        <span ng-if="vm.listing.price.method === 'monthly'">Monthly</span>
                      </div>

                    </div>

                  </md-subheader>
                  <!-- / HEADER -->

                  <!-- CONTENT -->

                  <form ng-if="vm.listing.price.method === 'hourly'">
                    <div layout="column" layout-gt-sm="row">
                      <md-input-container flex>
                        <label>Per Hour</label>
                        <md-icon md-font-icon="icon icon-currency-usd"></md-icon>
                        <input type="number" step="0.01" ng-model="vm.listing.price.details.hourly.perhour">
                      </md-input-container>
                      <md-input-container flex>
                        <label>Half Day</label>
                        <md-icon md-font-icon="icon icon-currency-usd"></md-icon>
                        <input type="number" step="0.01" ng-model="vm.listing.price.details.hourly.perhalfday">
                      </md-input-container>
                      <md-input-container flex>
                        <label>Day Pass</label>
                        <md-icon md-font-icon="icon icon-currency-usd"></md-icon>
                        <input type="number" step="0.01" ng-model="vm.listing.price.details.hourly.perday">
                      </md-input-container>
                      <md-input-container flex>
                        <label>Minimum Term</label>
                        <md-icon md-font-icon="icon icon-timetable"></md-icon>
                        <md-select ng-model="vm.minimumTermHours">
                          <md-option ng-value="option.value"
                                     ng-repeat="option in vm.minimumTermPerHour">
                            {{option.display}}
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                  </form>

                  <form ng-if="vm.listing.price.method === 'daily'">
                    <div layout="column" layout-gt-sm="row">
                      <md-input-container flex>
                        <label>Per Day</label>
                        <md-icon md-font-icon="icon icon-currency-usd"></md-icon>
                        <input type="number" step="0.01" ng-model="vm.listing.price.details.daily.perday">
                      </md-input-container>
                      <md-input-container flex>
                        <label>Minimum Term</label>
                        <md-icon md-font-icon="icon icon-timetable"></md-icon>
                        <md-select ng-model="vm.minimumTermDays">
                          <md-option ng-value="option.value"
                                     ng-repeat="option in vm.minimumTermPerDay">
                            {{option.display}}
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                  </form>

                  <form ng-if="vm.listing.price.method === 'monthly'">
                    <div layout="column" layout-gt-sm="row">
                      <md-input-container flex>
                        <label>Per Month</label>
                        <md-icon md-font-icon="icon icon-currency-usd"></md-icon>
                        <input type="number" step="0.01" ng-model="vm.listing.price.details.daily.permonth">
                      </md-input-container>
                      <md-input-container flex>
                        <label>Minimum Term</label>
                        <md-icon md-font-icon="icon icon-timetable"></md-icon>
                        <md-select ng-model="vm.minimumTermMonths">
                          <md-option ng-value="option.value"
                                     ng-repeat="option in vm.minimumTermPerMonth">
                            {{option.display}}
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div layout="column" layout-gt-sm="row" data-ng-if="vm.minimumTermMonths < 12">
                      <md-subheader class="md-no-sticky md-white-bg">
                        <div layout="row" layout-align="space-between center">
                          <div class="list-title" layout="row" layout-align="start center">
                            <span>Long Term Incentives</span>
                          </div>
                        </div>
                      </md-subheader>
                    </div>
                    <div layout="column" layout-gt-sm="row" data-ng-if="vm.minimumTermMonths < 12">
                      <md-input-container flex data-ng-if="vm.minimumTermMonths < 3">
                        <label>3 Months</label>
                        <md-icon md-font-icon="icon icon-currency-usd"></md-icon>
                        <input type="number" step="0.01" ng-model="vm.monthlyPriceTrimester">
                      </md-input-container>
                      <md-input-container flex data-ng-if="vm.minimumTermMonths < 6">
                        <label>6 Months</label>
                        <md-icon md-font-icon="icon icon-currency-usd"></md-icon>
                        <input type="number" step="0.01" ng-model="vm.monthlyPriceSemester">
                      </md-input-container>
                      <md-input-container flex>
                        <label>12 Months</label>
                        <md-icon md-font-icon="icon icon-currency-usd"></md-icon>
                        <input type="number" step="0.01" ng-model="vm.monthlyPriceYear">
                      </md-input-container>
                    </div>
                  </form>
                </div>

              </div>

              <div ng-if="vm.listing.bookingSystem" md-background-bg layout="row" layout-align="start start">

                <!-- MAIN -->
                <div class="listing-detail-form-container md-background-bg md-whiteframe-1dp" layout="column" flex>

                  <!-- AGENDA LIST -->
                  <md-list class="agenda-list" flex>

                    <!-- HEADER -->
                    <md-subheader class="md-no-sticky md-white-bg">

                      <div layout="row" layout-align="space-between center">

                        <div class="list-title" layout="row" layout-align="start center">
                          <span>Space Now Booking System</span>
                        </div>

                      </div>

                    </md-subheader>
                    <!-- / HEADER -->

                    <!-- CONTENT -->

                    <div ng-repeat="days in vm.weekDays" layout="row">
                      <div layout="column" flex="10">
                        <p class="text-truncate font-weight-600">
                          {{days}}
                        </p>
                      </div>
                      <div layout="column" flex="10">
                        <md-switch class="md-primary" ng-model="vm.statusDay[days]" ng-true-value="'Open'" ng-false-value="'Closed'" aria-label="Open">
                          {{ vm.statusDay[days] }}
                        </md-switch>
                      </div>
                      <div layout="column" flex="30">
                        <md-input-container flex>
                          <md-icon md-font-icon="icon icon-clock"></md-icon>
                          <input type="number" step="0.01" ng-model="vm.listing.priceTaxExcl">
                        </md-input-container>
                      </div>
                      <div layout="column" flex="30">
                        <md-input-container flex>
                          <md-icon md-font-icon="icon icon-clock"></md-icon>
                          <input type="number" step="0.01" ng-model="vm.listing.priceTaxExcl">
                        </md-input-container>
                      </div>

                    </div>

                    <!-- /CONTENT -->

                  </md-list>
                  <!-- /AGENDA LIST -->

                </div>
                <!-- / MAIN -->

              </div>

            </div>

            <!-- / CONTENT -->

          </div>
        </md-tab-body>
      </md-tab>
      <!-- / PRICING -->

      <!-- EXCEPTIONS -->
      <md-tab ng-if="vm.listing.bookingSystem">
        <md-tab-label>
          <span>Exceptions</span>
        </md-tab-label>

        <md-tab-body>

          <div md-background-bg layout="row" layout-align="start start">

            <!-- SIDENAV -->

            <md-sidenav class="sidenav main-sidenav md-background-bg md-whiteframe-1dp" ms-scroll md-is-locked-open="$mdMedia('gt-md')"
                        layout="column" flex="100" md-component-id="pricing-method-sidenav"
                        ms-sidenav-helper>
              <!-- SIDENAV CONTENT -->
              <div ms-scroll class="content scrollable">

                <md-subheader class="md-no-sticky">Exceptions Date</md-subheader>

                <md-list>
                  <md-list-item>
                    <md-datepicker ng-model="vm.dateException" md-placeholder="Enter date"  md-date-filter="vm.blockExceptionDates"></md-datepicker>
                  </md-list-item>
                </md-list>

                <md-list>
                  <md-list-item>
                    <p>Status</p>
                    <md-switch class="md-primary" ng-model="vm.statusDay.exception" ng-true-value="'Open'" ng-false-value="'Closed'" aria-label="'Closed'">
                      {{ vm.statusDay.exception }}
                    </md-switch>
                  </md-list-item>
                </md-list>

                <md-list>
                  <textarea class="ph-16 pv-16" flex="100" ng-model="vm.statusDay.description" placeholder="Description" style="width: 100%"></textarea>
                </md-list>

                <md-divider></md-divider>

                <md-list>
                  <md-button class="md-raised md-background" ng-click="vm.addException()">
                    <span>ADD</span>
                  </md-button>
                </md-list>

              </div>
              <!-- / SIDENAV CONTENT -->

            </md-sidenav>

            <!-- / SIDENAV -->
            <!-- CONTENT -->

            <div layout="column" flex>

              <div md-background-bg layout="row" layout-align="start start">

                <!-- MAIN -->
                <div class="listing-detail-form-container md-background-bg md-whiteframe-1dp" layout="column" flex>

                  <!-- HEADER -->
                  <md-subheader class="md-no-sticky md-white-bg">

                    <div layout="row" layout-align="space-between center">

                      <div class="list-title" layout="row" layout-align="start center">
                        <span>List of exceptions</span>
                      </div>

                    </div>

                  </md-subheader>
                  <!-- / HEADER -->

                  <!-- CONTENT -->

                  <md-list>
                    <md-list-item ng-repeat="exception in vm.listing.exception">
                      <p flex> {{exception.from | date : 'M/d/yyyy'}}</p>
                      <p flex>{{ exception.status }}</p>
                      <p flex>{{ exception.description }}</p>
                      <p flex><md-icon md-font-icon="icon icon-trash"></md-icon></p>
                    </md-list-item>
                  </md-list>

                </div>

              </div>

            </div>

            <!-- / CONTENT -->

          </div>

        </md-tab-body>
      </md-tab>
      <!-- / EXCEPTIONS -->

      <!-- ABOUT -->
      <md-tab>
        <md-tab-label>
          <span>About</span>
        </md-tab-label>

        <md-tab-body>
          <div class="listing-detail-form-container md-background-bg md-whiteframe-1dp">
            <form>
              <div layout="column" layout-gt-sm="row">
                <md-input-container flex>
                  <label>Listing Title</label>
                  <input type="text" ng-model="vm.listing.title" required>
                </md-input-container>
              </div>
              <div layout="column" layout-gt-sm="row">
                <md-input-container flex>
                  <p>Listing Description</p>
                  <text-angular ta-toolbar="vm.taToolbar" ng-model="vm.listing.description"
                                class="pb-32"></text-angular>
                </md-input-container>
              </div>
            </form>
          </div>
        </md-tab-body>
      </md-tab>
      <!-- / ABOUT -->

      <!-- IMAGES -->
      <md-tab>
        <md-tab-label>
          <span>Images</span>
        </md-tab-label>

        <md-tab-body>
          <div class="listing-detail-form-container md-background-bg md-whiteframe-1dp">

            <div id="product-image-uploader"
                 flow-init="vm.ngFlowOptions"
                 flow-name="vm.ngFlow.flow"
                 flow-files-submitted="vm.upload()"
                 flow-file-added="vm.fileAdded($file)"
                 flow-file-success="vm.fileSuccess($file, $message)"
                 flow-complete="vm.uploadComplete()"
                 flow-drop
                 flow-drag-enter="vm.dropping=true"
                 flow-drag-leave="vm.dropping=false"
                 ng-class="{'dropping':vm.dropping}">

              <div class="drop-text hint-text" layout="row" layout-align="center center">
                <span translate="EC.DROP_TO_UPLOAD">Drop to upload</span>
              </div>

              <div class="upload-button" layout="column" layout-align="center center">
                <md-button class="md-accent md-raised" flow-btn>
                  Upload
                </md-button>
                <span class="secondary-text mt-8">You can also drop images here to upload. Only PNG, JPG - Max. 8MB</span>
              </div>

              <div class="mv-32" layout="row" layout-align="center center">
                <div class="image-zoom-area">
                  <img wip-image-zoom="vm.imageZoomOptions">
                </div>
              </div>

              <div class="font-size-12" layout="row" layout-align="center center" style="margin: -15px 0 10px 0; color: #666">
                FEATURED
              </div>

              <div class="p-8 font-size-12" layout="row" layout-align="center center">
                Click an image to set featured
              </div>
              
              <div layout="row" layout-align="center start" layout-wrap>
                <div ng-repeat="image in vm.listing.images">
                  <div class="listing-image" layout="row"
                       layout-align="center center">
                    <img class="media" ng-src="http://localhost:3000/{{image.thumbnail}}"
                         ng-click="vm.updateImageZoomOptions(image.large); vm.setListingFeaturedImage(image)">
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </md-tab-body>
      </md-tab>
      <!-- / IMAGES -->

      <!-- SEO -->
      <md-tab>
        <md-tab-label>
          <span>SEO</span>
        </md-tab-label>

        <md-tab-body>
          <div class="listing-detail-form-container md-background-bg md-whiteframe-1dp">
            <form>
              <div layout="column" layout-gt-sm="row">
                <md-input-container flex>
                  <label>SEO Title</label>
                  <input type="text" ng-model="vm.listing.seo.title" required>
                </md-input-container>
              </div>
              <div layout="column" layout-gt-sm="row">
                <md-input-container flex>
                  <p>SEO Description</p>
                  <text-angular ta-toolbar="vm.taToolbar" ng-model="vm.listing.seo.description"
                                class="pb-32"></text-angular>
                </md-input-container>
              </div>
              <div layout="column" layout-gt-sm="row">
                <div flex>
                  <p>SEO Keywords</p>
                  <md-chips ng-model="vm.listing.seo.keywords"
                            placeholder="Enter a keyword"
                            delete-button-label="Remove Keyword"
                            delete-hint="Press delete to remove keyword"
                            secondary-placeholder="+Keyword">
                    <md-chip-template>
                      <strong>{{$chip}}</strong>
                    </md-chip-template>
                  </md-chips>
                </div>
              </div>
            </form>
          </div>
        </md-tab-body>
      </md-tab>
      <!-- / ABOUT -->

    </md-tabs>

  </div>
  <!-- / CONTENT -->

</div>
