<div id="listings_list" class="page-layout carded fullwidth" layout="row">

  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center" layout="column" flex>

    <!-- CONTENT HEADER -->
    <div class="header" layout="row" layout-align="space-between center">
      <div class="white-fg" layout="column" layout-align="start start">
        <div class="h1" layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-cube-outline"></md-icon>
          <span>Listings</span>
        </div>
        <div class="product-count secondary-text">
          <span>Total listings:</span>
          <span>{{vm.listings.length}}</span>
        </div>
      </div>

      <div class="search" layout="row" layout-align="start center" flex>
        <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
        <input id="listings-search" class="search-input" type="text" placeholder="Search"
               translate flex>
      </div>

      <div>
        <md-button class="md-raised md-background" ng-click="vm.gotoAddListing()">
          <span>Add New Listing</span>
        </md-button>
      </div>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card" layout="column" flex>

      <!-- CONTENT TOOLBAR -->

      <!-- / CONTENT TOOLBAR -->

      <!-- CONTENT -->
      <div class="content fullpage-datatable" layout="column" flex>

        <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
          <thead>
            <tr>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Image</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Title</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Category</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Price</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Status</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Featured</span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title">Actions</span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="listing in ::vm.listings">
              <td><img class="product-image" ng-src="{{listing.featuredImage.url}}"></td>
              <td>{{listing.title}}</td>
              <td>{{listing.category[0]}}</td>
              <td>{{listing.price}}</td>
              <td>{{listing.status}}</td>
              <td>{{listing.featured}}</td>
              <td>
                <md-button class="edit-button md-icon-button" ng-click="vm.gotoListingDetail(listing._id)" aria-label="Listing details"
                           aria-label="Listing Detail">
                  <md-icon md-font-icon="icon-pencil" class="s16"></md-icon>
                </md-button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>
