<ng-include src="'/modules/core/client/site/views/section-text-header.website.client.view.html'" ></ng-include>
<ng-include src="'/modules/core/client/site/views/section-search.website.client.view.html'" ng-controller="HomeSearchController as hsc"></ng-include>
<ng-include src="'/modules/core/client/site/views/section-categories.website.client.view.html'" ></ng-include>
<ng-include src="'/modules/core/client/site/views/section-how-it-works.website.client.view.html'" ></ng-include>
<ng-include src="'/modules/core/client/site/views/section-featured.website.client.view.html'" ng-controller="HomeFeaturedController as hfc"></ng-include>
<ng-include src="'/modules/core/client/site/views/section-stats.website.client.view.html'" ></ng-include>
