<section id="section-categories-home" class="hidden-sm-down" >
  <div class="container">
    <div class="row">
      <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- Begin Heading -->
        <div>
          <h4>Most Popular</h4>
        </div>
        <!-- End Heading -->
      </div>
    </div>
    <div class="row margin-top-25 margin-bottom-25">
      <div class="col-md-4 col-xs-12">
        <a ui-sref="listings.advancedSearch({ qCategory: 'Co Working' })">
          <div class="panel-categories">
            <div class="image-panel" style="background: url('modules/core/client/img/website/share.png') center center no-repeat; background-size: cover;"></div>
            <div class="body-panel">
              <p class="text-bolder margin-top-10">Co Working</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-xs-12">
        <a ui-sref="listings.advancedSearch({ qCategory: 'Office' })">
          <div class="panel-categories">
            <div class="image-panel" style="background: url('modules/core/client/img/website/rent.png') center center no-repeat; background-size: cover;"></div>
            <div class="body-panel">
              <p class="text-bolder margin-top-10">Office Space</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-xs-12">
        <a ui-sref="listings.advancedSearch({ qCategory: 'Meeting Room' })">
          <div class="panel-categories">
            <div class="image-panel" style="background: url('modules/core/client/img/website/meet.png') center center no-repeat; background-size: cover;"></div>
            <div class="body-panel">
              <p class="text-bolder margin-top-10">Meeting Rooms</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
