<section class="stats-section bg-lighter-gray no-padding-bottom hidden-sm-down">
  <div class="container">
    <div class="row">
      <div class="col col-lg-7 col-md-7 col-sm-7 col-xs-12">
        <div class="margin-top-80">
          <h4>Connect directly with hosts</h4>
        </div>
        <div class="margin-top-25">
          <span>Find the perfect space anytime. Track availability, message hosts, show a friend, book a meeting room or just list a space. All straight from your mobile.</span>
        </div>
        <div class="margin-top-25">
          <a href="/listings//location//category" class="btn btn-primary text-white">Search Now</a>
        </div>
      </div>
      <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-12 hidden-sm-down">
        <img src="modules/core/client/site/assets/img/website/mobile-view-spacenow.png" class="img-fluid">
      </div>
    </div>
  </div>
</section>
