<section class="no-padding padding-top-30 margin-top-20 hidden-sm-down">
  <div class="container">
    <div class="row">
      <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <h4 class="text-bolder underline">HOW IT WORKS</h4>
      </div>
    </div>
    <div class="row margin-top-40">
      <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
        <div class="margin-top-10">
          <span class="text-white btn-primary text-bolder padding-10 padding-left-15 padding-right-15" style="border-radius: 50% !important;">1</span>
        </div>
        <div class="margin-top-40">
          <p class="text-bolder" style="text-transform: uppercase">Find a space</p>
        </div>
        <div class="margin-top-20">
          <p>Australia’s largest list of commercial properties for lease. In many cases, you are dealing directly with the host.</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
        <div class="margin-top-10">
          <span class="text-white btn-primary text-bolder padding-10 padding-left-15 padding-right-15" style="border-radius: 50% !important;">2</span>
        </div>
        <div class="margin-top-40">
          <p class="text-bolder" style="text-transform: uppercase">Get in touch</p>
        </div>
        <div class="margin-top-20">
          <p>Each listing contains an email enquiry form. Simply fill in your details and the host will get in touch with you.</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
        <div class="margin-top-10">
          <span class="text-white btn-primary text-bolder padding-10 padding-left-15 padding-right-15" style="border-radius: 50% !important;">3</span>
        </div>
        <div class="margin-top-40">
          <p class="text-bolder" style="text-transform: uppercase">Moving straight in</p>
        </div>
        <div class="margin-top-20">
          <p>When you’ve found the perfect space to grow your business, finalise the arrangement with your host and move in.</p>
        </div>
      </div>
    </div>
  </div>
</section>
