<div layout="row" layout-wrap flex>
  <div layout="column" flex-gt-sm="50" flex-md="70" flex="100" flex-offset-gt-sm="25" flex-offset-md="15">
    <div layout="row" layout-align="center center" layout-wrap>
      <div flex="25">
        <div layout="row" layout-align="center">
          <md-button class="md-primary md-fab md-mini" ng-click="vm.setCurrentStep(0)">1</md-button>
          <md-button md-no-ink class="md-primary md-mini" ng-click="vm.setCurrentStep(0)">
            <span class="md-accent-bg" ng-if="vm.getCurrentStep() > 1">
              <i class="material-icons md-12">done</i>
            </span> Phone</md-button>
        </div>
      </div>
      <div flex="25">
        <div layout="row" layout-align="center">
          <md-button class="md-primary md-fab md-mini" ng-disabled="vm.getCurrentStep() < 2" ng-click="vm.setCurrentStep(1)">2</md-button>
          <md-button md-no-ink ng-disabled="vm.getCurrentStep() < 2" class="md-primary md-mini" ng-click="vm.setCurrentStep(1)">
            <span class="md-accent-bg" ng-if="vm.getCurrentStep() > 2">
              <i class="material-icons md-12">done</i>
            </span> Email</md-button>
        </div>
      </div>
      <div flex="25">
        <div layout="row" layout-align="center">
          <md-button class="md-primary md-fab md-mini" ng-disabled="vm.getCurrentStep() < 3" ng-click="vm.setCurrentStep(2)">3</md-button>
          <md-button md-no-ink ng-disabled="vm.getCurrentStep() < 3" class="md-primary md-mini" ng-click="vm.setCurrentStep(2)">
            <span class="md-accent-bg" ng-if="vm.getCurrentStep() > 3">
              <i class="material-icons md-12">done</i>
            </span> Password</md-button>
        </div>
      </div>
      <div flex="25">
        <div layout="row" layout-align="center">
          <md-button class="md-primary md-fab md-mini" ng-disabled="vm.getCurrentStep() < 4" ng-click="vm.setCurrentStep(3)">4</md-button>
          <md-button md-no-ink ng-disabled="vm.getCurrentStep() < 4" class="md-primary md-mini" ng-click="vm.setCurrentStep(3)">
            <span class="md-accent-bg" ng-if="vm.getCurrentStep() > 4">
              <i class="material-icons md-12">done</i>
            </span> Full Name</md-button>
        </div>
      </div>
    </div>
    <div layout="row" layout-wrap>
      <md-progress-linear md-mode="determinate" value="{{vm.step * 25}}"></md-progress-linear>
    </div>
  </div>
  <div layout="column" flex="25" hide show-md>
  </div>
  <div layout="column" flex-gt-sm="50" flex-md="70" flex="100" flex-offset-gt-sm="25" flex-offset-md="15" layout-align="center center" layout-wrap>
    <form name="vm.userForm" novalidate autocomplete="off">
      <div ng-switch layout="row" layout-align="center center" on="vm.getCurrentStep()">
        <div data-ng-switch-when="1" layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Phone Number</label>
            <input name="phone" ng-model="vm.credentials.phone" required ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/" />
            <div class="hint" ng-show="showHints">(###) ###-####</div>
            <div ng-messages="vm.userForm.phone.$error" ng-hide="showHints">
              <div ng-message="required">Phone is required.</div>
              <div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
            </div>
          </md-input-container>
        </div>
        <div data-ng-switch-when="2" layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input name="email" ng-model="vm.credentials.email" required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
            <div class="hint" ng-show="showHints">How can we reach you?</div>
            <div ng-messages="vm.userForm.email.$error" ng-hide="showHints">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                Your email must be between 10 and 100 characters long and look like an e-mail address.
              </div>
            </div>
          </md-input-container>
        </div>
        <div data-ng-switch-when="3" layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Password</label>
            <input name="password" ng-model="vm.credentials.password" required minlength="10" ng-pattern="vm.usernameRegex" />
            <div class="hint" ng-show="showHints">Need more protection?</div>
            <div ng-messages="vm.userForm.password.$error" ng-hide="showHints">
              <div ng-message-exp="['required', 'minlength', 'pattern']">
                Please enter a valid username: 3+ characters long, non restricted word, characters "_-.", no consecutive dots, does not begin or end with dots, letters a-z and numbers 0-9.
              </div>
            </div>
          </md-input-container>
        </div>
        <div data-ng-switch-when="4" layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>First Name</label>
            <input md-maxlength="30" required name="firstName" ng-model="vm.credentials.firstName" />
            <div class="hint" ng-if="showHints">Tell us what we should call you!</div>
            <div ng-messages="vm.userForm.firstName.$error" ng-if="!showHints">
              <div ng-message="required">Name is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Last Name</label>
            <input md-maxlength="30" required name="lastName" ng-model="vm.credentials.lastName" />
            <div class="hint" ng-if="showHints">Tell us what we should call you!</div>
            <div ng-messages="vm.userForm.lastName.$error" ng-if="!showHints">
              <div ng-message="required">Last name is required.</div>
              <div ng-message="md-maxlength">The last name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
        </div>
      </div>
    </form>
  </div>
  <div layout="column" flex="25" hide show-md>
  </div>
  <div layout="column" flex-gt-sm="50" flex-md="70" flex="100" flex-offset-gt-sm="25" flex-offset-md="15" layout-align="end" layout-wrap>
    <div layout="row" layout-align="space-around end" flex>
      <md-button class="md-fab" ng-click="vm.previousStep()" ng-hide="vm.isFirstStep()">
        <i class="material-icons md-36">navigate_before</i>
      </md-button>
      <md-button class="md-fab" ng-click="vm.nextStep()" ng-hide="vm.isLastStep()" ng-disabled="!vm.userForm.$valid">
        <i class="material-icons md-36">navigate_next</i>
      </md-button>
      <md-button class="md-fab" ng-click="vm.signup(vm.userForm.$valid);" ng-show="vm.isLastStep()" ng-disabled="!vm.userForm.$valid">
        <i class="material-icons md-36">navigate_next</i>
      </md-button>
    </div>
  </div>
  <div layout="column" flex="25" hide show-mdm>
  </div>
</div>

<!--
<div>
  <h3 class="col-xs-12 text-center">Or sign up using your email</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.credentials.firstName" placeholder="First Name" required autofocus>
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.credentials.lastName" placeholder="Last Name" required>
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.credentials.email" placeholder="Email" lowercase required>
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" ng-pattern="vm.usernameRegex" placeholder="Username" lowercase required>
          <div ng-messages="vm.userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
            <p class="help-block error-text" ng-message="pattern">Please enter a valid username: 3+ characters long, non restricted word, characters "_-.", no consecutive dots, does not begin or end with dots, letters a-z and numbers 0-9.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" placeholder="Password" uib-popover="{{vm.getPopoverMsg()}}" popover-trigger="outsideClick" password-validator required>
          <div ng-messages="vm.userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="vm.userForm.password.$error.requirements">{{passwordError}}</p>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="!vm.userForm.password.$error.required">
          <label>Password Requirements</label>
          <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Sign up</button>
          &nbsp; or&nbsp;
          <a ui-sref="authentication.signin" class="show-signup">Sign in</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
-->


